.navbar {
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
 
.navMenu {
    list-style: none;
    display: flex;
}
 
.link {
    
    text-decoration: none;
    padding: 13px;
    font-size: 1.4rem;
    font-weight: bold;
    font-family: popin sans-serif;

}
 
/* Changing the color */
.link:hover {
    color: black;
}